<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand"
     [routerLink]="'home'">{{title}}</a>
  <button class="navbar-toggler hidden-sm-up"
          type="button"
          (click)="isNavbarCollapsed = !isNavbarCollapsed"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="!isNavbarCollapsed"
       class="collapse navbar-collapse"
       id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <div class="nav-item active">
        <a class="nav-link"
           [routerLink]="'home'">Home
          <span class="sr-only">(current)</span>
        </a>
      </div>
      <div *ngFor="let year of getYears()"
           ngbDropdown
           class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="dropdownBasicOne"
           ngbDropdownToggle
           [innerText]="year"></a>
        <div ngbDropdownMenu
             aria-labelledby="dropdownBasicOne">
          <a *ngFor="let d of getDaysOfYear(year)"
             class="dropdown-item"
             [routerLink]="['/day', year, d.day]">Day {{d.day}}
          </a>
        </div>
      </div>
    </div>
    <!-- <form class="form-inline my-2 my-lg-0"
          (ngSubmit)="onSubmit()">
      <input class="form-control mr-sm-2"
             list="days"
             placeholder="Go to day"
             aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0"
              type="submit">Go</button>
      <datalist id="days">
        <option *ngFor="let day of days"
                [value]="day.day">{{day.year}}, Day {{day.day}}</option>
      </datalist>
    </form> -->
  </div>
</nav>
