<ng-template *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type"
             (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</ng-template>
<h1>
  Advent of Code {{day.year}} day {{day.day}}
</h1>

<app-pagination-component [day]="day"></app-pagination-component>

<ngb-accordion #acc="ngbAccordion"
               *ngFor="let part of day.parts; let i = index"
               activeIds="static-0, static-1">
  <ngb-panel id="static-{{i}}"
             title="Part {{i + 1}}">
    <ng-template ngbPanelContent>
      <blockquote class="blockquote">
        <p [innerHtml]="part.challenge"></p>
        <footer class="blockquote-footer">Eric Wastl on
          <cite title="Advent of Code">
            <a target="_blank"
               href="http://adventofcode.com/{{day.year}}/day/{{day.day}}">Advent of Code</a>
          </cite>
        </footer>
      </blockquote>
      <div *ngFor="let step of part.steps">
        <p [innerHtml]="step.description"></p>

        <pre *ngIf="step.isCalculating"
             class=".pre-scrollable"><code>Calculting output...</code></pre>
        <pre *ngIf="!step.isCalculating && step.output"
             class=".pre-scrollable"><code [innerHtml]="step.output"></code>
        </pre>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>


<app-pagination-component [day]="day"></app-pagination-component>
